{% load static %}
{% load crispy_forms_tags %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'progress/journal.css' %}">
    <title>Journal Entry</title>
</head>
<body>
    <div class="journal_box">
        
<div class="journals">
    <h1>Daily Journals</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="input">
        {{ form.Upload_Journal|as_crispy_field }}
    </div>
        <button id="br" type="submit">Record Journal</button>
    </form>
    <br>

    <form action="{% url 'all_journals' %}" method="get" target="_blank" id="Journals">
        <button id="br2" type="submit">All Journals</button>
     </form>
     <br>
     <form action="{% url 'nav' %}" method="get" target="_blank" id="Journals">
        <button type="submit">home</button>
     </form>
</div>
</div>
</body>


    
</body>
</html>

