{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <link rel="stylesheet" type = "text/css" href= "{% static 'graphs/workoutGraph.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <title></title>
  </head>
  <script>
    
  $(document).ready(function(){
      
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for item in data %}'{{item.Date}}',{% endfor %}],
            datasets: [{
                label: 'Workout Length in Hours',
                data: [{% for item in data%}'{{item.Duration_Hours}}',{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(201, 121, 30, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(201, 121, 30, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
          responsive: false,
            maintainAspectRatio: false,
    
            scales: {
              x: [{
                
                            display: true,
                            scaleLabel: {
                                display: true,
                                
                            }
                        }],
                y: {
                    beginAtZero: true
                }
            }
            
        }
        
      });
  });
  
    




</script>
<body>
  <h1>Workout Analysis</h1>
  <p>You completed {{num_workouts}} workouts in the last 30 days </p>
  <p>Your average workout length over the past 30 days was: {{time}} hours</p>
  <br>
  <a href="{% url 'home' %}">Home</a>
  <canvas id="myChart" width="800" height="800"></canvas>
  </body>
</html>

