{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type = "text/css" href= "{% static 'styles/info.css' %}">
</head>
<body>
    <div class="textone">

    </div>

    <div class="sidenav">
        <img class= "image_nav" src="{% static 'images/societyfit.png'%}">
        <a href="#">Mission</a>
        <a href="#">Features</a>
        <a href="{% url 'login' %}" >Login</a>
        <a href="{% url 'test' %}">Home</a>
      </div>
      
      <!-- Page content -->
      <div class="main">
        <h1>Mission</h1>
        <h1>Features</h1>
        <ul>  <li>Daily Trackers</li>
            <li>Data Analysis</li>
            <li>Social Network</li>
        </ul>
        <p>Fixed Full-height Side Nav
            Try to scroll this area, and see how the sidenav sticks to the page
            Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.
            
            Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50 links inside of it).
            
            Some text..
            
            Some text..
            
            Some text..
            
            Some text..
            
            Some text..
            
            Some text..
            
            Some text..

        </p>
      </div>


    
</body>
</html>
