{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/nav.css' %}">
    <title>FitnessSociety</title>
</head>
<body>
    <div class="navbar">
    <ul>
        <li><a href="{% url 'progress_home' %}">Update Progress</a></li>
        <li><a href="{% url 'graph_home' %}">View Progress</a></li>
        <li><a href="{% url 'search_profiles' %}">Add Friends</a></li>
        <li><a href="{% url 'friends' %}">Friends</a></li>
        <li><a href="{% url 'info' %}" >About</a></li>
        <li style="float:right" ><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
    <br>
    <div class="middle">
        <h1>Fitness Society</h1>
    </div>
</body>
</html>