{% load static %}
{% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static '/styles/register.css' %}">
</head>
<body>
    <h1>Register</h1>

   
<form method="post">
    {% csrf_token %}
    <div class="row">
            <div class="col-md-6">
                <label for="fname" class="form-label">First Name</label>
                {{form.first_name}}
            </div>
            <div class="col-md-6">
                <label for="lname" class="form-label">Last Name</label>
                {{form.last_name}}
            </div>
            <div class="col-6">
                <label for="username" class="form-label">Username</label>
                {{form.username}}
            </div>
            <div class="col-6">
                <label for="inputAddress2" class="form-label">E-mail</label>
                {{form.email}}
            </div>
            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                {{form.password1}}
            </div>
            <div class="col-12">
                <label for="confirm password" class="form-label">Confirm password</label>
                {{form.password2}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Create User</button>
    </form>
    <button class="btn btn-primary mt-3">Password Requirements</button>
    <div class="password_requirements">
        <div class="password-head">
            <h3>Password Requirements</h3>
            <button class="btn btn-primary mt-3">&times;</button>
        </div>
        
        <div class="password-body">
            <ul>
                <p>Your password can't be too similar to your other personal information.</p>
                <p>Your password can't be a commonly used password.</p>
                <p>Your password can't be entirely numeric.</p>
                <p>Your password must contain at least 8 characters</p>
            </ul>

        </div>
        
    </div>    

</body>
</html>