@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Roboto');
*
body{
    color: white;
    background-color: black;
    text-align: center;
}

img{
    width: 1%;
    height: auto;
}
h1{
    font-family: 'Roboto';
}
p{
    font-family: 'Poppins', sans-serif;
}

.journals{
    background-color: rgb(22, 22, 21);

    
}
a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid rgb(63,28,28);
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 4px;
    margin-bottom: 1%;
    font-size: small;
}

a:hover{
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;
}