@import url('https://fonts.googleapis.com/css?family=Poppins');
*

body{
   background: radial-gradient(#181818,#000000);
   background-attachment:fixed;
   margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1{
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
}


.journal_box{
    width: 30%;
    background-color: rgb(190, 188, 188);
    padding: 2%;
    border-radius: 15px;
}

form input{

    border: 3px solid rgb(63,28,28);
    
}
form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }