@import url('https://fonts.googleapis.com/css?family=Poppins');
*

body{
   background: radial-gradient(#181818,#000000);
   background-attachment:fixed;
   height:100%;
}
h1{
    font-family: 'Poppins', sans-serif;
    color: white;
}

button{
    background-color: black;
    color:white;
    text-decoration: none;
    border: 1px solid;
    border-color: rgb(63, 28, 28);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

button:hover{
    background-color: white;
    color: black;
    border: 2px solid rgb(0, 0, 0);
}

#br{
    margin-top: 1%;
    margin-bottom: 0%;
}

#br2{
    margin-top: -5px;
}

.journals{
    position: relative;
    text-align: center;
    margin-top: 15%;
}
