
@import url('https://fonts.googleapis.com/css?family=Poppins');
*

.pick1{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  he
}
body{
  background-color: black;
}
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.3;
}

.box1:hover{
    color: black;
    background-color: white;
}
.navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar {
    justify-content: space-between;
    width: 100%;
  }
  
  .navbar a {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  .navbar li{
    display: inline;
    border-right: 1px solid #bbb;
    
  }
  .navbar li:last-child {
    border-right: none;
    margin-left: auto;
  }
  
  /* Change the link color to #111 (black) on hover */
  .navbar a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }
  ul{
    list-style-type: none;
  }