@import url('https://fonts.googleapis.com/css?family=Poppins');
*
body{
  background: url(../images/cloud-image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar {
    justify-content: space-between;
    width: 100%;
  }
  
  .navbar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  .navbar li{
    display: inline;
    border-right: 1px solid #bbb;
    
  }
  .navbar li:last-child {
    border-right: none;
    margin-left: auto;
  }
  
  /* Change the link color to #111 (black) on hover */
  .navbar a:hover {
    background-color: #0f0808;
  }
  ul{
    list-style-type: none;
  }
  .middle{
    margin: auto;
    width: 100%;
    text-align: center;
    display: inline-block;
  vertical-align: middle;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    
  }