@import url('https://fonts.googleapis.com/css?family=Poppins');
*
{
 margin:0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;

}
html{
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
   background: black;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 100%;
    max-height: auto;

}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;

}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;

}
header ul li a:hover, header ul li a.active{
    background: #fff;
    color: #2b1055;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
section #text{
    position: absolute;
    color: #fff;
    text-align: center;
}
.imgmain{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#usertext{
    font-size: 150%;

}
