{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href= "{% static 'styles/friends.css' %}">
    <title>View Friends</title>
</head>
<body>
    <h1>Current Friends</h1>
    <a href="{% url 'nav' %}">Home</a>
    <br>
    <br>
    {% for friend in current_friends%}
    <div class="Profile">
        <a href="{% url 'profiles' friend.id %}">{{friend}}</a> 
        <br>
    </div>
    {% endfor %}
    <br>
    <a href="{% url 'search_profiles' %}" class="bt">Add friends</a>
    <br>
    <a href="{% url 'requests' %}" class="bt">Current Requests</a>
    
</body>
</html>