<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js">
    </script>
    <title>Document</title>
</head>
<body>
    <h1>Profile</h1>

{% if profile %}
{{profile.user.username}}'s Profile

{% endif %}
<br>
{{sender}}
<br>
{{receiver}}

{% if fstatus %}

<form action="" method="post">
    
    {% csrf_token %}
    <button type="submit">Remove Friend</button>
</form>
{% endif %}
{% if pstatus %}

<form action="" method="post">
    
    {% csrf_token %}
    <button type="submit" name="accept" value="{{ request.id }}">Accept</button>
    <br>
    <button type="submit" name="reject" value="{{ request.id }}">Reject</button>

</form>


{% endif %}
{% if Istatus %}

<form action="" method="post">
    
    {% csrf_token %}
    <button type="submit">Cancel Request</button>
</form>
{% endif %}
{% if nstatus %}

<form action="" method="post">
    
    {% csrf_token %}
    <button type="submit">Send Request</button>
    
</form>

{% endif %}
<h1>{{x}}</h1>
<a href="{% url 'friend_progress' receiver.id %}">View {{profile.user.username}}'s progress</a>

</body>
</html>