{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js">
    </script>
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>   
    <link rel="stylesheet" href="{% static 'styles/prof.css' %}">
    <title>{{profile.user.username}} View</title>
</head>
<body>
    <h1> {{profile.user.username}}'s Profile</h1>

{% if fstatus %}
 {{profile.user.username}}'s progress
<p>Daily Journals in a row: {{friend_journal_streak}}</p>
    <p>Average Workout Time: {{time}} hours</p>
    <p>Number of Workouts in last 30 days: {{num_workouts}}</p>
<form action="" method="post">
    
    {% csrf_token %}
    <button type="submit">Remove Friend</button>
</form>
{% endif %}
{% if pstatus %}
<p>You can't see {{profile.user.username}}'s progress because you aren't friends with them.</p>

<form action="" method="post">
    
    {% csrf_token %}
    <button type="submit" name="accept" value="{{ request.id }}">Accept</button>
    <br>
    <button type="submit" name="reject" value="{{ request.id }}">Reject</button>

</form>


{% endif %}
{% if Istatus %}
<p>You can't see {{profile.user.username}}'s progress because you aren't friends with them.</p>
<form action="" method="post">
    
    {% csrf_token %}
    <button type="submit">Cancel Request</button>
</form>
{% endif %}
{% if nstatus %}
<p>You can't see {{profile.user.username}}'s progress because you aren't friends with them.</p>
<form action="" method="post">
    
    {% csrf_token %}
    <button type="submit">Send Request</button>
</form>
{% endif %}
<a href="{% url 'nav' %}">Home</a>

</body>
</html>