<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Requests</title>
</head>
<body>
    {% for curr_request in curr_requests %}
        
        <form action="" method="POST">
            {{curr_request.sender}}
            {% csrf_token %}
            <button type="submit">accept</button>
        </form> 

        <br>
    {% endfor %}
</body>
</html>