{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href= "{% static 'styles/searchUsers.css' %}">
    <title>User Search</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'progress_home' %}">Update Progress</a></li>
            <li><a href="{% url 'graph_home' %}">View Progress</a></li>
            <li><a href="{% url 'search_profiles' %}">Add Friends</a></li>
            <li><a href="{% url 'friends' %}">Friends</a></li>
            <li><a href="{% url 'info' %}" >About</a></li>
            <li style="float:right" ><a href="http://127.0.0.1:8000/logout">Logout</a></li>
          </ul>
        </div>
    <div class="search_form"> 
    <h1>Search for Users</h1>
<form method="GET" action="{% url 'search_profiles' %}" class="search">
    <input type="text" placeholder="Search for Users" name="query" value="{{request.GET.query}}" class="box">
    <br>
    <button type="submit" class="button-50">Search</button>
</form>

</div>

{% for account in accounts %}
 <a href="{% url 'profiles' account.id %}">{{account.username}}</a>
 <br>
{% endfor %}
    
</body>
</html>
